In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Nasa_exoplanet_archive.csv")
df

,loc_rowid,pl_name,hostname,default_flag,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_locale,...,rastr,ra,decstr,dec,sy_dist,sy_vmag,sy_gaiamag,rowupdate,pl_pubdate,releasedate
0,1,11 Com b,11 Com,0,2,1,0,Radial Velocity,2007,Ground,...,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846,4.72307,4.44038,23-07-2014,2011-08,23-07-2014
1,2,11 Com b,11 Com,0,2,1,0,Radial Velocity,2007,Ground,...,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846,4.72307,4.44038,14-05-2014,2008-01,14-05-2014
2,3,11 Com b,11 Com,1,2,1,0,Radial Velocity,2007,Ground,...,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846,4.72307,4.44038,19-09-2023,2023-08,19-09-2023
3,4,11 UMi b,11 UMi,1,1,1,0,Radial Velocity,2009,Ground,...,15h17m05.90s,229.274595,+71d49m26.19s,71.823943,125.3210,5.01300,4.56216,04-09-2018,2017-03,06-09-2018
4,5,11 UMi b,11 UMi,0,1,1,0,Radial Velocity,2009,Ground,...,15h17m05.90s,229.274595,+71d49m26.19s,71.823943,125.3210,5.01300,4.56216,25-04-2018,2011-08,23-07-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38152,38153,ups And d,ups And,0,2,3,0,Radial Velocity,1999,Ground,...,01h36m47.60s,24.198353,+41d24m13.73s,41.403815,13.4054,4.09565,3.98687,21-08-2014,2004-01,21-08-2014
38153,38154,ups Leo b,ups Leo,1,1,1,0,Radial Velocity,2021,Ground,...,11h36m56.93s,174.237219,-00d49m24.83s,-0.823564,52.5973,4.30490,4.03040,10-01-2022,2021-12,10-01-2022
38154,38155,xi Aql b,xi Aql,0,1,1,0,Radial Velocity,2007,Ground,...,19h54m14.99s,298.562449,+08d27m39.98s,8.461105,56.1858,4.70964,4.42501,23-07-2014,2011-08,23-07-2014
38155,38156,xi Aql b,xi Aql,0,1,1,0,Radial Velocity,2007,Ground,...,19h54m14.99s,298.562449,+08d27m39.98s,8.461105,56.1858,4.70964,4.42501,14-05-2014,2008-06,14-05-2014
38156,38157,xi Aql b,xi Aql,1,1,1,0,Radial Velocity,2007,Ground,...,19h54m14.99s,298.562449,+08d27m39.98s,8.461105,56.1858,4.70964,4.42501,19-09-2023,2023-08,19-09-2023

In [1]:
import

1

In [3]:
from column_desc import column_description

print(column_description)

# This file was produced by the NASA Exoplanet Archive  http://exoplanetarchive.ipac.caltech.edu
# Mon Mar 17 10:14:26 2025
#
# User preference: *
#
# COLUMN pl_name:        Planet Name
# COLUMN hostname:       Host Name
# COLUMN default_flag:   Default Parameter Set
# COLUMN sy_snum:        Number of Stars
# COLUMN sy_pnum:        Number of Planets
# COLUMN sy_mnum:        Number of Moons
# COLUMN discoverymethod: Discovery Method
# COLUMN disc_year:      Discovery Year
# COLUMN disc_locale:    Discovery Locale
# COLUMN disc_facility:  Discovery Facility
# COLUMN disc_telescope: Discovery Telescope
# COLUMN disc_instrument: Discovery Instrument
# COLUMN rv_flag:        Detected by Radial Velocity Variations
# COLUMN pl_controv_flag: Controversial Flag
# COLUMN pl_refname:     Planetary Parameter Reference
# COLUMN pl_orbper:      Orbital Period [days]
# COLUMN pl_orbsmax:     Orbit Semi-Major Axis [au]
# COLUMN pl_rade:        Planet Radius [Earth Radius]
# COLUMN pl_radj:        Planet Radius [Jupiter Radius]
# COLUMN pl_bmasse:      Planet Mass or Mass*sin(i) [Earth Mass]
# COLUMN pl_bmassprov:   Planet Mass or Mass*sin(i) Provenance
# COLUMN pl_dens:        Planet Density [g/cm**3]
# COLUMN pl_orbeccen:    Eccentricity
# COLUMN pl_insol:       Insolation Flux [Earth Flux]
# COLUMN pl_eqt:         Equilibrium Temperature [K]
# COLUMN pl_tranmid:     Transit Midpoint [days]
# COLUMN ttv_flag:       Data show Transit Timing Variations
# COLUMN pl_trandep:     Transit Depth [%]
# COLUMN st_refname:     Stellar Parameter Reference
# COLUMN st_spectype:    Spectral Type
# COLUMN st_teff:        Stellar Effective Temperature [K]
# COLUMN st_rad:         Stellar Radius [Solar Radius]
# COLUMN st_mass:        Stellar Mass [Solar mass]
# COLUMN st_met:         Stellar Metallicity [dex]
# COLUMN st_metratio:    Stellar Metallicity Ratio
# COLUMN st_logg:        Stellar Surface Gravity [log10(cm/s**2)]
# COLUMN st_vsin:        Stellar Rotational Velocity [km/s]
# COLUMN st_rotp:        Stellar Rotational Period [days]
# COLUMN st_radv:        Systemic Radial Velocity [km/s]
# COLUMN rastr:          RA [sexagesimal]
# COLUMN ra:             RA [deg]
# COLUMN decstr:         Dec [sexagesimal]
# COLUMN dec:            Dec [deg]
# COLUMN sy_dist:        Distance [pc]
# COLUMN sy_vmag:        V (Johnson) Magnitude
# COLUMN sy_gaiamag:     Gaia Magnitude
# COLUMN rowupdate:      Date of Last Update
# COLUMN pl_pubdate:     Planetary Parameter Reference Publication Date
# COLUMN releasedate:    Release Date
#

In [ ]:
rows_to_delete = '''
# COLUMN rastr:          RA [sexagesimal]
# COLUMN ra:             RA [deg]
# COLUMN decstr:         Dec [sexagesimal]
# COLUMN dec:            Dec [deg]
# COLUMN sy_dist:        Distance [pc]
# COLUMN sy_vmag:        V (Johnson) Magnitude
# COLUMN sy_gaiamag:     Gaia Magnitude
# COLUMN disc_telescope: Discovery Telescope
# COLUMN disc_instrument: Discovery Instrument
# COLUMN rv_flag:        Detected by Radial Velocity Variations
# COLUMN pl_controv_flag: Controversial Flag
'''

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38157 entries, 0 to 38156
Data columns (total 50 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   loc_rowid        38157 non-null  int64
 1   pl_name          38157 non-null  object
 2   hostname         38157 non-null  object
 3   default_flag     38157 non-null  int64
 4   sy_snum          38157 non-null  int64
 5   sy_pnum          38157 non-null  int64
 6   sy_mnum          38157 non-null  int64
 7   discoverymethod  38157 non-null  object
 8   disc_year        38157 non-null  int64
 9   disc_locale      38157 non-null  object
 10  disc_facility    38157 non-null  object
 11  disc_telescope   38157 non-null  object
 12  disc_instrument  38157 non-null  object
 13  rv_flag          38157 non-null  int64
 14  pl_controv_flag  38157 non-null  int64
 15  pl_refname       38157 non-null  object
 16  pl_orbper        34971 non-null  float64
 17  pl_orbsmax       21589 non-null  float64
 18  pl_rade          26452 non-null  float64
 19  pl_radj          26452 non-null  float64
 20  pl_bmasse        6387 non-null   float64
 21  pl_bmassprov     6387 non-null   object
 22  pl_dens          2302 non-null   float64
 23  pl_orbeccen      18415 non-null  float64
 24  pl_insol         16756 non-null  float64
 25  pl_eqt           16723 non-null  float64
 26  pl_tranmid       29782 non-null  float64
 27  ttv_flag         38157 non-null  int64
 28  pl_trandep       17825 non-null  float64
 29  st_refname       37807 non-null  object
 30  st_spectype      2692 non-null   object
 31  st_teff          35157 non-null  float64
 32  st_rad           35205 non-null  float64
 33  st_mass          32379 non-null  float64
 34  st_met           24344 non-null  float64
 35  st_metratio      24147 non-null  object
 36  st_logg          29863 non-null  float64
 37  st_vsin          3128 non-null   float64
 38  st_rotp          949 non-null    float64
 39  st_radv          1682 non-null   float64
 40  rastr            38157 non-null  object
 41  ra               38157 non-null  float64
 42  decstr           38157 non-null  object
 43  dec              38157 non-null  float64
 44  sy_dist          37322 non-null  float64
 45  sy_vmag          37429 non-null  float64
 46  sy_gaiamag       37127 non-null  float64
 47  rowupdate        38156 non-null  object
 48  pl_pubdate       38157 non-null  object
 49  releasedate      38157 non-null  object
dtypes: float64(24), int64(9), object(17)
memory usage: 14.6+ MB

In [5]:
df.describe()

,loc_rowid,default_flag,sy_snum,sy_pnum,sy_mnum,disc_year,rv_flag,pl_controv_flag,pl_orbper,pl_orbsmax,...,st_met,st_logg,st_vsin,st_rotp,st_radv,ra,dec,sy_dist,sy_vmag,sy_gaiamag
count,38157.000000,38157.000000,38157.000000,38157.000000,38157.0,38157.000000,38157.000000,38157.000000,3.497100e+04,21589.000000,...,24344.000000,29863.000000,3128.000000,949.000000,1682.000000,38157.000000,38157.000000,37322.000000,37429.000000,37127.000000
mean,19079.000000,0.153471,1.084991,1.900857,0.0,2015.454202,0.239196,0.002149,1.248799e+04,4.665109,...,-0.023087,4.411061,6.312524,49.142076,1.179685,263.751893,32.348955,728.771316,13.588339,13.356100
std,11015.121447,0.360446,0.309093,1.212442,0.0,3.902064,0.426598,0.046308,2.150920e+06,182.354229,...,0.227399,0.296615,13.893699,297.154785,30.284611,69.426454,27.433982,797.600659,2.406340,2.344525
min,1.000000,0.000000,1.000000,1.000000,0.0,1992.000000,0.000000,0.000000,9.070629e-02,0.004400,...,-2.500000,0.100000,0.000000,-35.730000,-118.000000,0.185606,-88.121111,1.301190,0.872000,2.364310
25%,9540.000000,0.000000,1.000000,1.000000,0.0,2014.000000,0.000000,0.000000,4.409665e+00,0.054600,...,-0.150000,4.310000,1.900000,11.900000,-17.777500,283.212562,38.393438,290.736000,12.598000,12.401300
50%,19079.000000,0.000000,1.000000,1.000000,0.0,2016.000000,0.000000,0.000000,1.035536e+01,0.100500,...,-0.008000,4.470000,2.960000,23.300000,-0.050000,289.651260,42.658832,595.482500,14.166000,13.986200
75%,28618.000000,0.000000,1.000000,2.000000,0.0,2016.000000,0.000000,0.000000,2.667569e+01,0.215800,...,0.120000,4.570000,5.685000,40.100000,19.937500,294.463916,46.670651,940.211000,15.264000,15.035000
max,38157.000000,1.000000,4.000000,8.000000,0.0,2025.000000,1.000000,1.000000,4.020000e+08,19000.000000,...,7.790000,7.920000,299.000000,7900.000000,111.200000,359.974984,86.860343,8800.000000,45.340000,20.186100

In [6]:
df.head()

,loc_rowid,pl_name,hostname,default_flag,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_locale,...,rastr,ra,decstr,dec,sy_dist,sy_vmag,sy_gaiamag,rowupdate,pl_pubdate,releasedate
0,1,11 Com b,11 Com,0,2,1,0,Radial Velocity,2007,Ground,...,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846,4.72307,4.44038,23-07-2014,2011-08,23-07-2014
1,2,11 Com b,11 Com,0,2,1,0,Radial Velocity,2007,Ground,...,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846,4.72307,4.44038,14-05-2014,2008-01,14-05-2014
2,3,11 Com b,11 Com,1,2,1,0,Radial Velocity,2007,Ground,...,12h20m42.91s,185.178779,+17d47m35.71s,17.793252,93.1846,4.72307,4.44038,19-09-2023,2023-08,19-09-2023
3,4,11 UMi b,11 UMi,1,1,1,0,Radial Velocity,2009,Ground,...,15h17m05.90s,229.274595,+71d49m26.19s,71.823943,125.3210,5.01300,4.56216,04-09-2018,2017-03,06-09-2018
4,5,11 UMi b,11 UMi,0,1,1,0,Radial Velocity,2009,Ground,...,15h17m05.90s,229.274595,+71d49m26.19s,71.823943,125.3210,5.01300,4.56216,25-04-2018,2011-08,23-07-2014

Exoplanet Discovery Trends Over Time    
Question: How has exoplanet discovery evolved over the years?   
Visualization:

Bar chart: Number of exoplanets discovered per year.    
Line graph: Cumulative discoveries over time.    
Color-code by detection method (Transit, Radial Velocity, etc.).    
Extra: Compare discovery rates for different methods!

Mass vs. Radius – Exoplanet Types     
Question: How do exoplanets compare to Earth, Jupiter, and Neptune?    
Visualization:    

Scatter plot (Mass vs. Radius) → Differentiate Earth-like, Super-Earths, Neptune-like, and Gas Giants.    
Add reference lines for Earth, Neptune, and Jupiter.    
Color-code by planet type.    
Extra: Fit a trend line and check if mass-radius relationships match theoretical models!

Orbital Period vs. Distance from Star (Kepler’s Laws Check)    
Question: Do exoplanets follow predictable orbital patterns?    
Visualization:    

Log-log scatter plot (Orbital Period vs. Semi-Major Axis).    
Overlay Kepler’s Third Law curve for reference.     
Highlight planets with extreme orbits.    
Extra: Check if larger planets have longer orbital periods!

Exoplanet Temperature Distribution       
Question: What’s the temperature range of discovered exoplanets?      
Visualization:    

Histogram of exoplanet temperatures.    
Highlight the habitable zone temperature range (~ -50°C to 100°C).    
Color-code planets based on their size/type.     
Extra: Compare the distribution for different detection methods!

Exoplanet Density Analysis – Rocky vs. Gas Giants    
Question: Are discovered exoplanets mostly rocky or gaseous?    
Visualization:    

Scatter plot (Density vs. Radius).     
Categorize planets into Rocky (High Density) vs. Gaseous (Low Density).     
Highlight Earth-like density range.    
Extra: Find outliers—are there super-dense gas giants or low-density rocky planets?

Number of Exoplanets Per Star System     
Question: How many exoplanets do stars typically have?    
Visualization:    

Bar chart showing how many stars have 1, 2, 3, or more exoplanets.    
Pie chart comparing single-planet vs. multi-planet systems.    
Extra: Check if multi-planet systems tend to have similar types of planets!